body {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    background-color: #333;
    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 700px;
}

.clock {
    color: #84ff84;
    font-size: 150px;
    text-shadow: 0px 0px 15px #84ff84;
}

.stopwatch-btn {
    padding: 10px 15px;
    border-radius: 7px;
    background-color:#84ff84;
    
    font-family: 'Orbitron', sans-serif;
    font-size: 17px;
    color: #333;
    text-shadow: 0px 0px 2px #333;

    border: none;
    box-shadow: 0px 0px 10px #84ff84;
    
}

.stopwatch-btn:hover {
    cursor: pointer;
}
.stopwatch-btn:focus {
    outline: none;
}

.off-btn {
    display: none;
}

@media only screen and (max-width: 770px) {
    .clock {
        font-size: 100px;
    }
}

@media only screen and (max-width: 520px) {
    .clock {
        font-size: 50px;
    }
}
